<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ INSTRUCTIONS MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Draftstone Instructions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>1. GENERAL</h3>
        <p class="ml-20"><b>1.1</b> What is Draftstone</p>
        <p class="ml-40"><b>1.1.1</b> Draftstone is an online application for drafting custom Hearthstone decks to play against friends </p>
        <p class="ml-40"><b>1.1.2</b> Draftstone offers several features that were never possible in Hearthstone until now. Primarily the ability to create drafts with highly customizable settings/filters and then the ability to export those drafts directly to Heartstone and play against a friend. </p>
        <p class="ml-40"><b>1.1.3</b> Draftstone was made because we wanted something like this for a long time. We looked far and wide for some way to draft decks to play against friends and couldn't find it. So we made it and more for the whole Hearthstone community to enjoy! </p>


        <p class="ml-20"><b>1.2</b> Draftstone is in Beta</p>
        <p class="ml-40"><b>1.2.1</b> The best way for Draftstone to improve is for you to let us know how it can. Please email us with any comments, suggestions, and especially to report any bugs. Email: draftstonebeta@gmail.com</p>
        <p class="ml-40"><b>1.2.2</b> We are committed to listening to our users to improve Draftstone. However, we are only a two man team so we ask that you be patient as we make updates/improvements. </p>
        <p class="ml-40"><b>1.2.3</b> We already have a list of new features we plan on adding. </p>

        <p class="ml-20"><b>1.3</b> Support Draftstone</p>
        <p class="ml-40"><b>1.3.1</b> SHARE THE WORD! If you like and appreciate what we have made for the Hearthstone community, the best way to support draftstone and say thanks is to share the word. Please share it on social media with your friends! </p>
        <p class="ml-40"><b>1.3.1</b> BE CREATIVE! There are literally millions of possible draft combinations that can be made through Draftstone, but there are even fun and creative things that go beyond the simple selection of settings/numbers. For example, a friend and I decided to do a draft where we selected our custom draft settings, but then we each drafted a deck for the other player and tried to make it as terrible as possible. It was a battle of the worst trash decks!! It was fun and hilarious. We want to see and hear all about your creative draft game ideas - so share your game modes and creative ideas with the Hearthstone Community! </p>


        <h3>2. ACCOUNT</h3>
        <p class="ml-20"><b>2.1</b> User Account</p>
        <p class="ml-40"><b>2.1.1</b> Create an account to access specific features of Draftstone. These include creating/saving your own custom games modes, publishing your game modes to the community, voting for community game modes, and saving favorite game modes published by the community. Therefore, having an account allows you to 1) participate in the Draftstone community and 2) save time by having easy access to all your favorite draft modes.</p>
        <p class="ml-40"><b>2.1.2</b> Without an account you are still able to setup (customize), select (draft), and send (export) your draft. </p>
        <p class="ml-40"><b>2.1.3</b> All that is required to create an account is a username, email, and password.</p>
        <p class="ml-40"><b>2.1.4</b> The Account Page is access by clicking the icon in the upper-right corner once logged in. This is where your password and collections can be managed.</p>

        <p class="ml-20"><b>2.2</b> Manage/Import Collections</p>
        <p class="ml-40"><b>2.2.1</b> This feature is access in the user account page. This features allows for importing your Heartstone collection so that your drafts only offer you cards in your collection. You can also import friends' collections in case you both want to draft from the same card pool and then use the "share deck" feature in Heartstone to both play from the same collection.</p>
        <p class="ml-40"><b>2.2.1</b> The default collection is the "Master Collection" which includes all cards in the game.</p>
        <p class="ml-40"><b>2.2.3</b> To import a collection you will need to first create a "collection string". To do this you will need to follow these steps: 1) go to http://freezard.github.io/hs-collection-tracker/ to manually select all the cards in your collection (this will take ~1-1.5 hours); details about this process can be found in the next section 2) after you have selected your collection from their site, click  "Options" and then "Export to File" 3) once this file is downloaded make sure you SAVE this file somewhere on your computer for later use when updating your collection 4) open the file and then copy the contents (this is your "collection string") and head back to your Draftstone account page 5) click "Import New" 6) Give your collection a name that will help you remember it 7) copy/paste the "collection string" into the second input and click "Submit". Now you will see that collection on your account page. </p>
        <p class="ml-40"><b>2.2.4</b> In order to manually select your entire collection it will be more efficient if you follow these tips. Open both the http://freezard.github.io/hs-collection-tracker/ (hereafter "HCT") page and your Hearthstone collection at the same time. In the HCT, at the top click on "normal", then in the small row above the cards click on "all" (not standard). If you hover over the blue line above the card columns you can select all cards in that column. This is reccommended if you have the majority of cards in that column as it will then be easier to remove the ones you don't have. Each column and their color corresponds to the card rarities. The left column is all free/basic cards and thus everyone should "select all" for this category. The next columns are common, rare, epic, and legendary. Left click on any card to indicate you have one copy and left click twice to indicate you have two copies. Right click to deselect one or more copies. The most efficient strategy is to follow these steps: 1) go into your Hearthstone collection and click on "All Cards" in the bottom-left 2) then click on "0" 3) in the HCT, all of the columns are organized from lowest cost (top) to highest cost (bottom), so compare and select all your zero cost cards (common-legendary) 4) repeat steps 2-3 by clicking on each mana cost and selecting each of your cards until you are complete. </p>
        <p class="ml-40"><b>2.2.5</b> Unfortunately, this is the best option for collection import we have at the time being. We are looking into a better solution. The good news is this is something you only need to do once and then to update once you get more cards is much easier. </p>
        <p class="ml-40"><b>2.2.6</b> Any draft you complete will use your currently selected collection. To set your selected collection to either the master collection or any imported collection simply click the "Set Selected Collection" dropdown and select a collection. </p>
        <p class="ml-40"><b>2.2.7</b> To update a collection, click the "Update" button next to the specific collection, then import the updated "collection string". To update your "collection string" to match your current collection, simply go to the HCT and then there will be two options: 1) if your selected cards have been saved then simply select the new cards in your collection, click "Options" and "Export to File", then copy/paste the "collection string" into the input field and click "Submit", or 2) if your selected cards have not been saved, click "Options" and "Import from File", then import the original file you saved from this site and follow the steps in option 1) </p>
        <p class="ml-40"><b>2.2.8</b> To delete a collection, click the "Delete" button next to the specific collection. Make sure you want to do this because it cannot be reversed; you would have to import the collection again by pasting the "collection string" </p>

        <p class="ml-20"><b>2.3</b> Forgot Password?</p>
        <p class="ml-40"><b>2.3.1</b> If you forget your password, follow these steps: 1) click log in button 2) click "forgot your password?" link 3) type in valid account email and click "Send Temporary Password" 4) go to your email and you will receive a 6 digit number as a new temporary password 5) go back to log in and log in with new temporary password 6) IMMEDIATELY go to your account page and update your password by putting in the 6 digit number as your current password and then entering and confirming your new password.</p>


        <h3>3. SETUP DRAFT</h3>
        <p class="ml-20"><b>3.1</b> Draft Modes (Relative/Absolute)</p>
        <p class="ml-40"><b>3.1.1</b> The default draft mode is "Relative". This mode sets each custom filter to a probability rather than a certainty. It is a percentage based system (1-100%). If you select 25% spells then there will be a 25% chance any card offered will be a spell, but this is not absolute or guaranteed. For example, if you run out of spells then the probability of being offered another one will become 0%. The reason this is the preferred mode is that a probability/percentage based system will allow more drafts to be completed without running out of available cards. However, this option does not have the option to have "consistent" picks (see below) and therefore cannot guarantee the exact spicific number of certain settings. If that is what you want then play "Absolute" mode but be careful not to make the settings too narrow. </p>
        <p class="ml-40"><b>3.1.2</b> The other draft mode is "Absolute". This mode sets each custom filter to a specific number of cards in the deck (1-30). If you select 10 spells you are guaranteed to be offered 10 spells total (no more or less). If you select 30 rares and 10 spells, then you will be offered 20 rare minions and 10 rare spells, and so on. If there are not enough cards in your filtered pool then the draft will not be able to be completed. If you select custom settings in this mode all of your picks (set of 3 cards offered) will be "Consistent" (see below). </p>

        <p class="ml-20"><b>3.2</b> Filters </p>
        <p class="ml-40"><b>3.2.1</b> Currently there are 6 custom filters: Hero, Set, Cost, Class, Rarity, Type. </p>
        <p class="ml-40"><b>3.2.2</b> We plan on adding even more filters later :) </p>
        <p class="ml-40"><b>3.2.3</b> For any filters to be adjusted you must select "custom" </p>
        <p class="ml-40"><b>3.2.4</b> Be careful not to make your filters too narrow or there may not be enough cards to complete the draft. </p>

        <p class="ml-20"><b>3.3</b> Filter Settings (Chaos/Custom/Consistent) </p>
        <p class="ml-40"><b>3.3.1</b> Chaos is the completely random option. Both the draft itself (the total of each type of card offered) and the picks (the 3 card options) will be completely random and not "Consistent" (see below). You can make one setting random and another setting custom. For example, if you left rarity on random but set class to 30 neutral cards and type to 30 minions, then the class and type settings will guarantee 30 neutral minions in the draft, but how many commons, rares, epics, and neutrals will be completely random. </p>
        <p class="ml-40"><b>3.3.2</b> Consistent is the partially random option. The draft (total of each setting type offered) is totally random, but the picks (3 cards options) will always be the same within that setting. For example, if I select "Consistent" on the class filter, then how many class and neutrals I am offered will still be totally random, but when they are offered the will be offered together (3 class cards or 3 neutral cards). Once again, once filter can be "Consistent" while others are "Chaos" or "Custom".</p>
        <p class="ml-40"><b>3.3.3</b> Custom is the fully customized option. This is where you get to select how many (absolute) or what percentage (relative) you want to see certain setting options. Both the draft itself (total offered) and the picks (3 card options) are customized and not random. For example, if I set legendaries to either 10 (absolute) or 50% (relative) then this affects how many will be offered in the draft (it is no longer random as in "Chaos" and "Consistent"). Furthermore, if I set neutral to 25 and class to 5 then I would be offered 25 neutral legendaries and 5 class legendaries. "Custom" settings are also always "Consistent".  </p>

        <p class="ml-20"><b>3.4</b> Save Game Mode </p>
        <p class="ml-40"><b>3.4.1</b> After setup you can either start the draft immediately or can save the custom settings as a draft mode (if logged in). </p>
        <p class="ml-40"><b>3.4.2</b> After clicking "Save Game Mode", give your new game mode a creative name. Part of the fun of the community is to come up with fun and descriptive game modes. Make sure the game mode is short, creative, and gives some indication of what the type of draft will be. </p>
        <p class="ml-40"><b>3.4.3</b> DO NOT put any profanity or offensive language or your game mode will be removed and your account may be suspended. Also, do not put any game mode names that are gibberish or non-descriptive or your game mode may also be removed from the community. </p>
        <p class="ml-40"><b>3.4.4</b> After setting your game mode name you can either click "Save" which will save to your account only for you to access and play, or click "Save and Publish" which will both save to your account as well as publish it to the community for other to vote, favorite, and play. </p>


        <h3>4. SELECT DRAFT</h3>
        <p class="ml-20"><b>4.1</b> Select Picks </p>
        <p class="ml-40"><b>4.1.1</b> First select your hero, then you will be offered a set of 30 picks (set of 3 cards) to draft your entire deck. </p>
        <p class="ml-40"><b>4.1.2</b> Once you select a card it is reflected in the deck display on the right and the deck details on the bottom. </p>
        <p class="ml-40"><b>4.1.3</b> If you have not imported your collection and/or you are offered a card that you do not have in your collection, you may press the red "X" button and a new card that matches your draft settings will appear. Do not click the red "X" button unless you do not have that card otherwise this would be cheating and ruin the whole point and fun of using this fun mode. The only other circumstance you may click the red "X" is if two of the same cards appear together. Will will remove this possibility in a further update. </p>
        <p class="ml-40"><b>4.1.4</b> Depending on traffic, the loading of cards may be slow or even freeze. We will address this if this becomes a problem. </p>

        <p class="ml-20"><b>4.2</b> View Draft Details</p>
        <p class="ml-40"><b>4.2.1</b> You can view the mana curve of your draft on the bottom-left in order to help as you draft. </p>
        <p class="ml-40"><b>4.2.2</b> You can view the card stats of your draft on the bottom-right in order to help as you draft. </p>
        <p class="ml-40"><b>4.2.3</b> You can view your deck picks on the right. These are ordered first by mana cost and then alphabetically within each mana cost. You can hover over the card name to see an image of the card for reference. </p>


        <h3>5. SEND DRAFT</h3>
        <p class="ml-20"><b>5.1</b> Export to Hearthstone</p>
        <p class="ml-40"><b>5.1.1</b> Follow these steps to export your custom draft to Hearthstone: 1) click the "Send Deck" button 2) either click the clipboard icon or select and copy the text that appears (this is the "deckstring") 3) open Hearthstone 4) click on "My Collection" 5) make sure you are in "Wild/All" mode 6) click "create new deck" in the right panel 7) Hearthstone will offer to automatically populate the deck for you - Select "Yes" </p>
        <p class="ml-40"><b>5.1.2</b> When the deck completes, if you chose any cards you do not have in your collection they will appear in a lighter/muted color. If you click on the card the game will offer a couple other cards to choose to replace it. There is no rule for what to do in this situation. You will have to decide with friends. Here are a few options: 1) they must craft the card they selected if possible 2) the draft is negated and must be started over 3) they may select only from the two cards offered as replacements 4) they may select any cards that match the draft settings 5) or our favorite, their opponent gets to select any replacement cards! Moral: better make sure you don't pick cards you don't have. </p>
        <p class="ml-40"><b>5.1.1</b> Now go challenge your friend to a game using your custom Draftstone Decks! </p>


        <h3>6. GAME MODES</h3>
        <p class="ml-20"><b>6.1</b> Basic Game Modes</p>
        <p class="ml-40"><b>6.1.1</b> These are the game modes that are pre-populated and are always included. They were designed to give users some basic modes to play and more importantly to give them ideas of how to create game modes and create game mode names for themselves.</p>
        <p class="ml-40"><b>6.1.2</b> If logged in, basic game modes can be favorited by clicking the star icon. This will put that game mode into the list of user favorites to easily access and play at any time. </p>
        <p class="ml-40"><b>6.1.3</b> Basic game modes cannot be voted on (this is reserved for games uploaded by the Draftstone community).</p>

        <p class="ml-20"><b>6.2</b> Community Game Modes</p>
        <p class="ml-40"><b>6.2.1</b> These are the game modes that have been uploaded by the Draftstone Community. </p>
        <p class="ml-40"><b>6.2.2</b> If logged in, community game modes can be favorited by clicking the star icon. This will put that game mode into the list of user favorites to easily access and play at any time. </p>
        <p class="ml-40"><b>6.2.3</b> If logged in, community game modes can be voted on by clicking the thumbs-up icon. You only have one vote per mode. You can take away your vote by clicking the icon again. Total votes affects each modes standings in the trending and all-time game modes. </p>
        <p class="ml-40"><b>6.2.4</b> Community game modes defaults to the "Trending" tab. This tab displays the community game modes that have received the most votes within the last 30 days. </p>
        <p class="ml-40"><b>6.2.5</b> The "All Time" tab displays the community game modes that have received the most total votes in the history of Draftstone. </p>
        <p class="ml-40"><b>6.2.6</b> The "Newest" tab displays the community game modes that have been uploaded most recently. </p>

        <p class="ml-20"><b>6.3</b> User Game Modes</p>
        <p class="ml-40"><b>6.3.1</b> These are the game modes that have been created and favorited by the user. These lists are not public and are only available to each specific user (if logged in). </p>
        <p class="ml-40"><b>6.3.2</b> If logged in, user "created" game modes can be favorited by clicking the star icon. This will put that game mode into the list of user favorites to easily access and play at any time. </p>
        <p class="ml-40"><b>6.3.3</b> If logged in, user "created" game modes can be favorited. This will put that game mode into the list of user favorites to easily access and play at any time. </p>
        <p class="ml-40"><b>6.3.4</b> User game modes cannot be voted on (this is reserved for games uploaded by the Draftstone community).</p>
        <p class="ml-40"><b>6.3.5</b> User "created" game modes can be deleted from the "created" list.</p>
        <p class="ml-40"><b>6.3.6</b> User "created" game modes can be published if they have not yet. Once published they cannot be removed from the community even if you delete the one in your "created" list.</p>
        <p class="ml-40"><b>6.3.7</b> User "favorited" is simply a list of modes (from basic/community/user) that the user enjoys the most and can be easily accessed. You can remove any item from this list by simply clicking the star icon again to "unfavorite".</p>


        <p class="ml-20"><b>6.4</b> Game Mode Cards</p>
        <p class="ml-40"><b>6.4.1</b> The game mode cards give a quick glance of the draft settings and allow a user to use that draft mode by simply selecting the "Start" button. </p>
        <p class="ml-40"><b>6.4.2</b> The name of the game mode is in the upper-left. The vote icon (thumbs-up) and favorite icon (star) are in the top-right. </p>
        <p class="ml-40"><b>6.4.3</b> The body of the card consists of the draft settings for all six filter types: Set, Hero, Cost, Class, Type, and Rarity. It displays if all are selected or a custom amount, displays if it is choas, consistent, or custom, and if custom it displays the specifc numerical values selected for that setting. </p>
        <p class="ml-40"><b>6.4.4</b> If the details are too long the user can hover over that setting and scroll to the right to see the rest (common with sets and heroes). </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ LOGIN MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal <%= (messages.loginErrors.length || messages.registerErrors.length) ? "show" : "fade" %>" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Login / Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('loginModal').classList.remove('show');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h2 style="display:flex; flex-direction: column; justify-content:center; max-width: 30%;">Login</h2>
          <form action="/login" method="post">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email" style="margin-top:20px;" required>
              <input type="password" name="password" class="form-control" placeholder="Password" style="margin-top:10px;" required>
              <button type="submit" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; max-width: 30%; margin:20px auto;">Login</button>
            </div>
          </form>
          <a style="text-align:center; cursor:pointer;" onclick="window.location.href='/forgotpassword'">Forgot your password?</a>
          <% for (const err of messages.loginErrors) { %>
            <p class="warning"><%= err %></p>
          <% } %>
        </div>

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h2 style="display:flex; flex-direction: column; justify-content:center; max-width: 30%;">Register</h2>
          <form id="register" action="/register" method="post">
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="User Name" style="margin-top:20px;" required>
              <input type="email" name="email" class="form-control" placeholder="Email" style="margin-top:10px;" required>
              <input id="register-password" type="password" name="password" class="form-control" placeholder="Password" style="margin-top:10px;" required>
              <input id="register-confirm" type="password" name= "confirm" class="form-control" placeholder="Confirm Password" style="margin-top:10px;" required>
              <button type="submit" class="btn btn-primary login-btn"  style="display:flex; flex-direction: column; justify-content:center; max-width: 30%; margin:20px auto;">Register</button>
            </div>
          </form>
          <p id="mismatch" class="warning hidden">Passwords do not match</p>
          <% for (const err of messages.registerErrors) { %>
            <p class="warning"><%= err %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ SAVE DRAFT MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Save / Publish</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h3 style="display:flex; flex-direction: column; justify-content:center; max-width: 100%;">Save to Account</h3>

            <div>
                <input id="mode-name-input" type="text" name="user" class="form-control" placeholder="Creative Game Mode Name" style="margin-top:20px;">
                <p id="require-text" style="color: red"></p>
                <button id="save-mode-btn" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Save</button>
                <button id="save-publish-btn" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Save & Publish</button>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ IMPORT COLLECTION MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Import Collection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h5 class="text-center" style="display:flex; flex-direction: column;">See Instructions for Import Details</h5>

          <form method="post" action="/user/collections/import/">
            <input type="text" name="name" class="form-control" placeholder="Collection Name" style="margin-top:20px;">
            <p style="color: red"></p>
            <input type="text" name="collection" class="form-control" placeholder="Paste Collection Here" style="margin-top:20px;">
            <button class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Submit</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
