<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ INSTRUCTIONS MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Draftstone Instructions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>General</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>

        <h3>Setup Draft</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>

        <h3>Select Draft</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>

        <h3>Send Draft</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore laborum, ad quasi reprehenderit suscipit facilis, ea quas ipsa! Velit!</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ LOGIN MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal <%= (errors.login.length || errors.register.length) ? "show" : "fade" %>  " id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Login / Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('loginModal').classList.remove('show');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h2 style="display:flex; flex-direction: column; justify-content:center; max-width: 30%;">Login</h2>
          <form action="/login" method="post">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email" style="margin-top:20px;" required>
              <input type="password" name="password" class="form-control" placeholder="Password" style="margin-top:10px;" required>
              <button type="submit" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; max-width: 30%; margin:20px auto;">Login</button>
            </div>
          </form>
          <% for (const err of errors.login) { %>
            <p class="warning"><%= err %></p>
          <% } %>
        </div>

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h2 style="display:flex; flex-direction: column; justify-content:center; max-width: 30%;">Register</h2>
          <form id="register" action="/register" method="post">
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="User Name" style="margin-top:20px;" required>
              <input type="email" name="email" class="form-control" placeholder="Email" style="margin-top:10px;" required>
              <input id="register-password" type="password" name="password" class="form-control" placeholder="Password" style="margin-top:10px;" required>
              <input id="register-confirm" type="password" name= "confirm" class="form-control" placeholder="Confirm Password" style="margin-top:10px;" required>
              <button type="submit" class="btn btn-primary login-btn"  style="display:flex; flex-direction: column; justify-content:center; max-width: 30%; margin:20px auto;">Register</button>
            </div>
          </form>
          <p id="mismatch" class="warning hidden">Passwords do not match</p>
          <% for (const err of errors.register) { %>
            <p class="warning"><%= err %></p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ SAVE DRAFT MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Save / Publish</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h3 style="display:flex; flex-direction: column; justify-content:center; max-width: 100%;">Save to Account</h3>

            <div>
                <input id="mode-name-input" type="text" name="user" class="form-control" placeholder="Creative Game Mode Name" style="margin-top:20px;">
                <button id="save-mode-btn" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Save</button>
                <button id="save-publish-btn" class="btn btn-primary login-btn" data-dismiss="modal" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Save & Publish</button>
            </div>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
