/****************************** GENERAL ******************************/

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-justify {
  justify-content: center;
}

.y-squish {
  height: 10vh;
}

.x-squish {
  width: 10vw;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/****************************** LAYOUT ******************************/

body {
  background-color: #f7f7f7;
}

main {
  background-color: #f7f7f7;
  height: 75vh;
}

#main {
  background-color: #f7f7f7;
  height: 90vh;
}

#container {
  width: 80vw;
  /* border: solid red 2px; */
}

/****************************** HEADER ******************************/

#header {
  background-color: #8e8770;
  height: 10vh;
  width: 100vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.draftstone-text {
  margin-top: 0px;
  padding: 18px 40px;
}

.instructions-text {
  margin-top: 0px;
  padding-top: 25px;
  padding-left: 1080%;
}

.instructions-btn {
  background-color: #8e8770;
  border: solid black 2px;
  border-radius: 4px;
  margin-top: 22px;
  margin-left: 1060px;
}

/****************************** LEFT CARD ******************************/

#left {
  flex-basis: 75%;
  /* border: solid green 2px; */
}

#card-display {
  /* width: 80vw; */
  background-color: #ddd8cc;
  margin: 0 40px;
  min-height: 60vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

.xbtn {
  background-color: #ddd8cc;
  border: none;
  max-height: 60px;
  max-width: 60px;
  cursor: grab;
}

.imgbtn {
  background-color: #ddd8cc;
  border: none;
}

.draft-btn {
  width: 250px;
  background-color: green;
}

.draft-btn:hover {
  background-color: #8e8770;
  border: 2px dashed black;
}

/****************************** RIGHT CARD ******************************/

#right {
  flex-basis: 25%;
  /* border: solid green 2px; */
}

#deck-display {
  /* width: 80vw; */
  background-color: #ddd8cc;
  margin: 0 10px;
  margin-bottom: 40px;
  min-height: 607px;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#card-cost {
  width: 12%;
  border-right: solid 2px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding-left: 4%;
  margin-right: 0px;
}

#card-name {
  width: 88%;
  padding-left: 2%;
  margin-left: 0px;
}

.name-style {
  font-weight: bold;
}

.cost-style {
  font-weight: bold;
}
