<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DraftStone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Piedra|Playfair+Display|Poppins|Raleway|Titillium+Web|Trade+Winds" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/spacing.css">
</head>

<body>

<%- include partials/header.ejs %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <main id="main" class="flex mt-50">
      <div class="x-squish"></div>

      <!-- ~~ CONTAINER ~~ -->

      <div id="full-container" class="flex">

        <div id="full-card">
          <div class="y-squish">
          </div>

          <!-- ~~ DRAFT DISPLAY ~~ -->

          <div id="full-display" class="card-deck flex-col">
            <div class="flex flex-around">

              <div class="flow-text text-center col-5-md">
                <h3 id="value-prop" class="bold" style="font-family:playfair display; font-size:2.5em;">Account Details</h3>
                <br>
                <h4 class="bold">Username:</h4>
                <p class="" style="font-size:1.6rem;"><%= users[0].user_name %></p>
                <h4 class="bold">Email:</h4>
                <p class="" style="font-size:1.6rem;"><%= users[0].email %></p>

              </div>
              <div class="flow-text text-center col-5-md">
                <h3 id="value-prop" class="bold" style="font-family:playfair display; font-size:2.5em;">Change Password</h3>
                <form action="/login" method="post" class="mt-40">
                  <div class="form-group">
                    <input type="password" name="currentpassword" class="form-control" placeholder="Current Password" style="margin:10px auto 0 auto; width:50%;" required>
                    <input type="password" name="newpassword" class="form-control" placeholder="New Password" style="margin:10px auto 0 auto; width:50%;" required>
                    <input type="password" name="confirmpassword" class="form-control" placeholder="Confirm New Password" style="margin:10px auto 0 auto; width:50%;" required>
                    <button type="submit" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; max-width: 30%; margin:20px auto;">Change</button>
                  </div>
                </form>
              </div>


            </div>

            <div class="flex-col center" style="margin:0 auto;">
              <form action="/user/delete" method="post" class="center flex">
                <button type="submit" class="btn btn-primary btn-lg created-mode-btn" style="width:200px;">Delete Account</button>
              </form>
              <div class="flex" style="margin-bottom:30px;">
                <p class="center">click button to delete your user account</p>
              </div>
            </div>
          </div>

          <div class="y-squish">
          </div>
        </div>
      </div>
    </main>

  <%- include partials/modals.ejs %>

  <script type="text/javascript" src="/js/index.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
