<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DraftStone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/popover.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Piedra|Playfair+Display|Poppins|Raleway|Titillium+Web|Trade+Winds" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/spacing.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127642798-1"></script>
  <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bf1c8a50a768a0011e747ef&product=inline-share-buttons' async='async'></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127642798-1');
  </script>
</head>

<body>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<%- include partials/header.ejs %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<main id="main" class="flex mt-50">
    <div class="x-squish"></div>

    <!-- ~~ CONTAINER ~~ -->

    <div id="full-container" class="flex">

      <!-- ~~ LEFT CARD ~~ -->

      <div id="full-card">
        <div class="y-squish">
        </div>

        <!-- ~~ DRAFT DISPLAY ~~ -->

        <div id="full-display" class="card-deck flex-col">
          <div class="text-center flow-text mt-30">
            <br>
            <h3>You're done, go have some fun!</h3>
          </div>
          <div class="flex flex-just-center center">
            <pre style="height:3em; min-width:400px;" id="deckstring-input"></pre>


            <button id="clipboard" onclick="copyToClipboard('deckstring-input')" type="button" class="fas fa-clipboard-list fa-2x" style="display:inline-block; background-color: transparent; border:none; margin-bottom:8px; outline:none;"></button>


            <button type="button" class="far fa-question-circle question-popup" style="font-size:2rem; margin-bottom:5px; background-color: transparent;" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Press clipboard icon or copy (control/command + c) text. Then open Hearthstone, go to collection, and click button to create new deck. Hearthstone will offer to automatically populate the deck for you."></button>
          </div>
          <div class="flex-col flex-justify">
            <button id="save-btn" type="button" class="btn btn-primary btn-lg <% if (!username) { %>save-btn-hover<% } else { %>save-btn<%}%>" data-toggle="modal" data-target="#draftModal" <% if (!username) { %> disabled <% } %> >Save Game Mode</button>
            <div class="flex-col flex-center mb-40">
              <p class="center">Click to save your game mode to your account or the community</p>
              <p class="center mt-0">(Log in to save/publish game modes)</p>

            </div>
          </div>
        </div>

        <div class="y-squish">
        </div>
      </div>
    </div>
  </main>

  <%- include partials/modals.ejs %>

  <div class="modal fade" id="deckstringModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Tournament Mode</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="flex" style="display:flex; flex-direction: column; justify-content:center; max-width: 50%; margin:0px auto;">
          <h3 style="display:flex; flex-direction: column; justify-content:center; max-width: 100%;">Post Deckstring</h3>

            <div>
                <input id="deck-name-input" type="text" name="deck_name" class="form-control" placeholder="Unique Deck Name" style="margin-top:20px;">
                <p id="require-text" style="color: red"></p>
                <input id="deckstring-input-modal" type="text" name="deckstring" class="form-control" placeholder="deckstring" style="margin-top:20px;" disabled>
                <p id="require-text" style="color: red"></p>
                <button id="post-deckstring-btn" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; margin:20px auto;">Post</button>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript" src="/js/export.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
