<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DraftStone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/popover.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Piedra|Playfair+Display|Poppins|Raleway|Titillium+Web|Trade+Winds" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/spacing.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127642798-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127642798-1');
  </script>
</head>

<body>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <header id="navbar" class="test">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navcontainer">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="draftstone" class="navbar-brand text-uppercase draftstone-text" href="/">Draftstone</a>
          <span style="color:green; font-size: 1.4rem;">BETA</span>
        </div>
      </div>
    </nav>
  </header>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<main id="main" class="flex mt-50">
    <div class="x-squish"></div>

    <!-- ~~ CONTAINER ~~ -->

    <div id="full-container" class="flex">

      <!-- ~~ LEFT CARD ~~ -->

      <div id="full-card">
        <div class="y-squish">
        </div>

        <!-- ~~ DISPLAY ~~ -->

        <div id="full-display" class="card-deck flex flex-just-center" style="margin: 0 auto;">

          <div class="flex" style="display:flex; justify-content:center; max-width: 100%; margin:0px auto;">
            <h5 style="display:flex; flex-direction: column; justify-content:center; max-width: 100%;">Email will be sent with further instructions</5>
            <form action="/sendemail" method="post">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" style="margin-top:20px;" required>
                <button type="submit" class="btn btn-primary login-btn" style="display:flex; flex-direction: column; justify-content:center; max-width: 100%; margin:20px auto;">Send Temporary Password</button>
                <% for (const suc of messages.resetSuccess) { %>
                  <p id="success" class="success"><%= suc %></p>
                <% } %>
              </div>
            </form>
          </div>

        </div>

        <div class="y-squish">
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript" src="/js/export.js"></script>
  <script type="text/javascript" src="/js/header.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
