@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


/****************************** GENERAL ******************************/

.responsive {
  width: 100%;
  max-width: 240px;
  height: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start {
  align-self: flex-start;
}

.flex-end {
  align-self: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
  padding: 0 5%;
}

.flex-left {
  justify-content: flex-start;
}

.flex-just-center {
  justify-content:center;
}

.flex-center {
  align-self: center;
}

.flex-align-end {
  align-items: flex-end;
}

.y-squish-min {
  height: 2vh;
}

.y-squish {
  height: 10vh;
}

.x-squish {
  width: 6vw;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.flow-text {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.text-left {
  text-align: left;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}

/****************************** LAYOUT ******************************/

body {
  background-color: #f7f7f7;
}

main {
  background-color: #f7f7f7;
  height: 75vh;
  font-family: Playfair Display;
}

#main {
  background-color: #f7f7f7;
  height: 90vh;
}

#container {
  width: 86vw;
  /* border: solid red 2px; */
}

#full-container {
  width: 88vw;
  height: 80vh;
  /* border: solid red 2px; */
}

#modes-container {
  width: 90vw;
  margin-top: 5%;
  /* border: solid red 2px; */
}

/****************************** HEADER ******************************/

/* #header {
  background-color: #8e8770;
  height: 10vh;
  width: 100vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

#navbar {
  background-color: #8e8770;
  height: 10vh;
  width: 100vw;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: none;
  margin: 0 auto;
}

.nav-btn {
  margin-right: 10.5vw;
  min-width: 80px;
  text-align: center;
  background-color: #8e8770;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  font-weight: bold;
  outline-color: green;
}

.nav-btn:hover {
  background-color: green;
  border: dashed rgba(0,0,0,0.4) 2px;
  color: white;
  outline-color: green;
}

.nav-btn:focus {
  background-color: #8e8770;
  border: solid black 2px;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  outline-color: green;
} */

.navcontainer{
  width: 82vw;
  margin: 0 auto;
}

.draftstone-text {
  font-family: 'Piedra';
  color: rgba(0,0,0,0.6) !important;
  font-size: 1.8em;
  margin-top: 28px;
  padding-top: 6px;
  margin-left: 0px;
  padding-left: 0px;
}

.draftstone-text-sticky {
  font-family: 'Piedra';
  font-size: 1.2em;
  margin-top: 14px;
  padding-top: 4px;
  color: #ddd8cc !important;
}

header > nav {
   position: fixed;
   width: 100%;
   text-align: center;
   font-size: 36px;
   line-height: 80px;
   height: 80px;
   background: #8e8770 !important;
   outline: none !important;
   border: none !important;
   // set animation
   -webkit-transition: all 0.6s ease;
   transition: all 0.6s ease;
}

header.sticky > nav {
   font-size: 24px;
   line-height: 52px;
   height: 52px;
   background: #3d3934 !important;
   text-align: left;
   padding-left: 20px;
}

.modes-btn {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  outline: none;
  margin-top: 0px;
}

.modes-btn:focus {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none;
}

.modes-btn:active {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none !important;
}

.modes-btn:hover {
  background-color: #ddd8cc;
  border: 2px dashed rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  outline: none;
}

.instructions-btn {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  outline: none;
  margin-top: 0px;
}

.instructions-btn:focus {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none;
}

.instructions-btn:active {
  background-color: green;
  font-weight: bold;
  border: 2px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none !important;
}

.instructions-btn:hover {
  background-color: #ddd8cc;
  border: 2px dashed rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  outline: none;
}

.signin-btn{
  background-color: transparent;
  color: green;
  font-weight: bold;
  border: solid green 2px;
  outline: none;
  margin-top: 0px;
}

.signin-btn:active{
  background-color: transparent;
  color: green;
  font-weight: bold;
  border: solid green 2px;
  outline: none !important;
}

.signin-btn:focus{
  background-color: transparent;
  color: green;
  font-weight: bold;
  border: solid green 2px;
  outline: none;
}

.signin-btn:hover{
  background-color: green;
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  border: 2px dashed rgba(0,0,0,0.6);
  outline: none;
}

a:link {
  text-decoration: none;
}

/****************************** LEFT CARD ******************************/

#left {
  flex-basis: 75%;
  /* border: solid green 2px; */
}

#full-card {
  width: 88vw;
  /* flex-basis: 100%;   */
  /* border: solid green 2px; */
}

#card-display {
  /* width: 60vw; */
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  min-height: 66vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#stat-display {
  /* width: 80vw; */
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  margin-bottom: 40px;
  min-height: 20vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#full-display {
  /* width: 80vw; */
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  min-height: 70vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#full-display-top {
  /* width: 80vw; */
  font-family: Playfair Display;
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  min-height: 70vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#full-display-bottom {
  /* width: 80vw; */
  font-family: Playfair Display;
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  margin-top: 5vh;
  min-height: 70vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#full-display-buttons {
  width: 40vw;
  font-family: Playfair Display;
  font-weight: bold;
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 auto;
  margin-top: 5vh;
  min-height: 50vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

.card-display {
  background-color: #ddd8cc;
  margin: 0 auto;
  padding-left: 0px;
  min-height: 60vh;
}

.transparent {
  position:absolute;
  z-index:5;
  left:0;
  background: rgba(255,255,255,.5);
}

.xbtn {
  background-color: #ddd8cc;
  border: none;
  max-height: 60px;
  max-width: 60px;
  cursor: grab;
  outline: none;
}

.imgbtn {
  background-color: #ddd8cc;
  border: none;
  outline: none;
}

.flow-btn {
  width: 16vw;
  background-color: green;
  outline: green;
  margin: 0 auto;
  margin-top: 5vh;
  align-content:center;
  font-size: 1.6vw;
}

.flow-btn:hover {
  background-color: #8e8770;
  border: 2px dashed black;
  outline: none;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 1.6vw;
}

.flow-btn:focus {
  background-color: #8e8770;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 1.6vw;
}

.flow-btn:active {
  background-color: green;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 5vh;
  outline: none !important;
  font-size: 1.6vw;
}

#save-btn {
  width: 16vw;
  background-color: #8e8770;
  border: 2px solid green;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.6vw;
}

#save-btn:hover {
  background-color: green;
  border: 2px dashed black;
  outline: none;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.6vw;
}

#save-btn:focus {
  background-color: green;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.6vw;
}

#save-btn:active {
  background-color: green;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.6vw;
}

/* #import-btn {
  width: 16vw;
  background-color: #8e8770;
  border: 2px solid green;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.2vw;
}

#import-btn:hover {
  background-color: green;
  border: 2px dashed black;
  outline: none;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.2vw;
}

#import-btn:focus {
  background-color: green;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: 1.2vw;
}

#import-btn:active {
  background-color: green;
  border: 2px dashed black;
  outline-color: green;
  margin: 0 auto;
  margin-top: 3vh;
  outline: none !important;
  font-size: 1.2vw;
} */

/****************************** RIGHT CARD ******************************/

#right {
  flex-basis: 25%;
  /* border: solid green 2px; */
}

#deck-display {
  width: 23vw;
  background-color: #ddd8cc;
  margin: 0 -32px;
  margin-bottom: 40px;
  min-height: 607px;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#card-cost {
  width: 8%;
  /* border-right: solid 2px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding-left: 4%; */
  margin-right: 0px;
}

#card-name {
  width: 96%;
  padding-left: 3%;
  margin-left: 0px;
}

.name-style {
  font-weight: bold;
}

.cost-style {
  font-weight: bold;
  color: white;
  background-image: url(../images/mana-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  justify-content: center;
}

/****************************** MODAL ******************************/

.modal-btn {
  background-color: #8e8770;
  border: 2px solid #8e8770;
  outline: none;
}

.modal-btn:hover {
  background-color: green;
  border: 2px solid rgba(0,0,0,0.4);
}

.login-btn {
  background-color: green;
  border: 2px solid green;
  outline: none;
}

.login-btn:hover {
  background-color: #8e8770;
  border: 2px solid rgba(0,0,0,0.4);
}

.modal-header {
  text-align: center;
}

.modal-title {
  display: inline-block;
}


/****************************** SETUP PAGE ******************************/

.custom-select {
  margin: 5% auto;
  /* outline-color: green; */
  border: solid 2px green;
  border-radius: 6px;
  box-shadow: -1px 2px 8px 4px rgba(0,0,0,0.3);
}

#select-hero {
  background-color: white;
  margin: 10% auto;
  /* outline-color: green; */
  width: 66px;
  text-align: center;
}

#select-set {
  background-color: white;
  margin-top: 7%;
}

#select-cost {
  background-color: white;
  margin: 10% auto;
  /* outline-color: green; */
  width: 66px;
  text-align: center;
}

#main-fieldset-top {
  margin-top: -120px;
}

#main-fieldset-bottom {
  margin-top: -120px;
}

.set-filter {
  margin: 5% auto;
  padding-top: 2%;
  font-weight: bold;
}

.hero-filter {
  margin: 5% auto;
  padding-top: 5%;
  font-weight: bold;
}

.cost-filter {
  margin: 5% auto;
  padding-top: 5%;
  font-weight: bold;
}

.class-filter {
  margin: 5% auto;
  padding-top: 2%;
  font-weight: bold;
  text-align: center;
}

.rarity-filter {
  margin: 5% auto;
  padding-top: 2%;
  font-weight: bold;
  text-align: center;
}

.type-filter {
  margin: 5% auto;
  padding-top: 2%;
  font-weight: bold;
  text-align: center;
}

.output-value {
  padding-left: 7px;
  padding-bottom: 7px;
}

.input-value {
  margin-left: 10px;
}

.start-btn {
  margin: 0 auto;
}

.inactive {
 opacity: 0.2;
}

.faded {
  background-color: #ddd8cc;
  opacity: .6;
}

hr{
  border: 0;
  height: 1.3px;
  width: 10vw;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 128, 0, 0.75), rgba(0, 0, 0, 0));
}

option:active, option:hover {
  color: green;
}

label {
  cursor: pointer;
  color: rgba(0,0,0,0.7);
}

input[type=radio] {
  display: none;
}

input[type=radio] + .label-text:before {
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 5px;
  display: inline-block;

}

input[type=radio]:checked + .label-text:before {
  content: "\f14a";
  color: green;
  animation: 150ms ease-in;
  /* transition: 0.4s; */
  transform: scale(1.3);
  animation: scaler 0.2s ease;
}

@keyframes scaler {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(2.6);
  }
  100% {
    transform: scale(1.3);
  }
}

input[type=radio]:disabled + .label-text:before {
  content: "\f0c8";
  color: #ccc;
}

/* .checkboxOne {
    width: 40px;
    height: 10px;
    background: #d3d3d3;
    margin: 0px 80px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.checkboxOne label {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: -3px;
    left: -3px;

    background: #8e8770;
}

.checkboxOne input[type=checkbox]:checked + label {
    left: 27px;
    background: green;

} */


/****************************** DRAFT PAGE ******************************/

#stat-display {
  /* width: 80vw; */
  background-color: #ddd8cc;
  padding-top: 0px;
  margin: 0 40px;
  min-height: 22vh;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

#hidden-card {
  position: absolute;
  top: 60px;
  z-index: 99;
  min-height: 200px;
  min-width: 307px;
  outline: none;
  border: none;
}

.card-position {
  position: absolute;
  left: -11%;
  top: 28px;
  z-index: 99;
  min-height: 200px;
  min-width: 307px;
  outline: none;
  border: none;
}

.hidden-card {
  display: none;
}

.opaque{
  opacity: 1 !important;
}

.render-above {
  margin: 0 auto;
  padding: 0 auto;
  z-index: 2;
  text-align: center;
}

/* .deck-pick{
  height: 24px;
  width: 85px;
  float: right !important;
} */

.costs {
  flex-basis: 50%;
}

.stats {
  flex-basis: 50%;
}

.pad {
  padding-top: 8%;
  padding-left: 15%;
}

.pad-slider {
  padding-top: 5%;
}

.margin {
  margin-top: 19%;
}

.divider {
  border-right: 2px dashed rgba(0,0,0,0.6);
}

.cost-column {
  border: 1px solid rgba(0,0,0,0.6);
  min-height: 80px;
  max-height: 80px;
  min-width: 20px;
  justify-content: flex-end;
}

.cost-bar {
  border: 1px solid rgba(0,0,0,0.6);
  height: 0px;
  min-width: 20px;
  background-color: green;
}

.stat-box {
  width: 25px;
  height: 25px;
  margin-top: 6px;
  margin-right: -10px;
  margin-left: 10px;
  border: 2px solid rgba(0,0,0,0.6);
}


/****************************** EXPORT PAGE ******************************/



/****************************** MODES PAGE ******************************/

.mode-main{
  margin-bottom: 80px;
}

.mode-options{
  width: 100% !important;
}

.mode-heading{
  font-size: 2em;
  background-color: #ddd8cc;
  border: 4px solid green;
  box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.4);
  }

.mode-option-btn{
  width: 30%;
  height: 10%;
  font-size: 2vw;
  background-color: #8e8770;
  border: 3px solid rgba(0,0,0,0.6);
  /* box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.4); */
}

.mode-option-btn:hover{
  width: 30%;
  height: 10%;
  font-size: 2vw;
  background-color: #ddd8cc !important;
  border: 3px solid rgba(0,0,0,0.3);
  outline: none;
  /* box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.4); */
}

.mode-option-btn:focus{
  width: 30%;
  height: 10%;
  font-size: 2vw;
  color: white;
  background-color: green !important;
  border: 3px solid rgba(0,0,0,0.3);
  outline: none;
  /* box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.4); */
}

.mode-option-btn:active{
  width: 30%;
  height: 10%;
  font-size: 2vw;
  color: white !important;
  background-color: green !important;
  border: 3px solid rgba(0,0,0,0.3);
  outline: none !important;
  /* box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.4); */
}

.mode-gradient{
  background: -webkit-linear-gradient(left, green -30%, rgba(221,216,204, 0) 30%), -webkit-linear-gradient(right, green -30%, rgba(221,216,204, 0) 30%);
  background: -o-linear-gradient(left, green -30%, rgba(221,216,204, 0) 30%), -o-linear-gradient(right, green -30%, rgba(221,216,204, 0) 30%);
  background: linear-gradient(to right, green -30%, rgba(221,216,204, 0) 30%), linear-gradient(to left, green -30%, rgba(221,216,204, 0) 30%);
  z-index: 99;
}

.mode-panel{
  border: 4px solid rgba(0,0,0,0.6);
  background-color: #ddd8cc;
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
}

.mode-panel-header{
  border-radius: 0px !important;
  background: #ddd8cc !important;
  /* border-bottom: 1px solid rgba(0,0,0,0.2) !important; */
  font-family: 'Piedra';
  color: rgba(0,0,0,0.6) !important;
  letter-spacing: .6px;
}

.panel-body-top{
  border-top: 4px solid rgba(0,0,0,0.6) !important;
}

.panel-modes-btn{
  width: 40%;
  background-color: #ddd8cc;
  color: rgba(0,0,0,0.6);
  outline: green;
  border: 3px solid green;
  margin: 0 auto;
  margin-bottom: 8%;
  align-content:center;
  font-size: 1.1em;
}

.panel-modes-btn:hover {
  background-color: #8e8770;
  border: 3px dashed rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
  outline: none;
  font-size: 1.1em;
}

.panel-modes-btn:active {
  background-color: #8e8770 !important;
  font-weight: bold;
  border: 3px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none !important;
  font-size: 1.1em;
}

.panel-modes-btn:focus {
  background-color: #8e8770;
  font-weight: bold;
  border: 3px solid rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  outline: none;
  font-size: 1.1em;
}

#favorite{
  cursor: pointer;
}

#vote{
  cursor: pointer;
}

.green {
  color:green;
}
.grey {
  color:grey;
}
